@model IEnumerable<AuctionHouse.Models.Item>

@{
    ViewBag.Title = "Current listings";
}

<div class="container">
    <h2 style="text-align: center;">Current auction items</h2>
    <br />

    @*Displays table of items up for auction*@
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seller.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*Dropdown action menu button*@
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @Html.ActionLink("Edit listing", "Edit", new { id = item.ID }, new { @class = "dropdown-item" })
                            @Html.ActionLink("View listing", "Details", new { id = item.ID }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Delete listing", "Delete", new { id = item.ID }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Place bid", "PlaceBid", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
