@model Apartment.Models.Tenant

@{
    ViewBag.Title = "Tenant Request Form";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Tenant Request Form</h2>
    </div>
</div>

@*Various fields in the tenant request form*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-8">
                    @Html.LabelFor(model => model.ApartmentName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ApartmentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 10,
                    @placeholder = "Explanation of request, maintainence required or complaint. Please be specific" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                <div class="col-sm-6">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Checkbox)
                        @Html.LabelFor(model => model.Checkbox, "Check this box to give permission for the landlord " +
                        "or representative to enter your unit to perform the requested maintainence. We will call first.")
                        @Html.ValidationMessageFor(model => model.Checkbox, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "ViewForms")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
