
@{
    ViewBag.Title = "Color";
}

<h2>Create a New Color</h2>

<p>Please enter colors in HTML hexadecimal format: #AABBCC</p>

@using (Html.BeginForm("Create", "Color", FormMethod.Post))
{
    @Html.Label("firstColor", "First color");
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @title = "Ex: #F38FCB or #B3C", @required = true });

    @Html.Label("secondColor", "Second color");
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @title = "Ex: #F38FCB or #B3C", @required = true });

    <br />
    <input type="submit" class="btn btn-primary" value="Mix colors" />
}

@{
    if (ViewBag.Show) //displays result to the user
    {
        <br />
        <br />
        <div class="row">
            <div class="col-sm-1" style="@ViewBag.Square"></div>
            <div class="col-sm-1" style="width: 50px; height: 100px;"><h1>+</h1></div>
            <div class="col-sm-1" style="@ViewBag.Square2"></div>
            <div class="col-sm-1" style="width: 50px; height: 100px;"><h1>=</h1></div>
            <div class="col-sm-1" style="@ViewBag.Square3"></div>
            <div class="col-sm-7"></div> @*Intentionally left blank*@
        </div>
    }
    else //displays error message to the user
    {
        <br />
        <br />
        <h3 style="color: #f44242">@ViewBag.ErrorMessage</h3>
    }
}