<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reginald's Ancient Antiquities Auction House</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Reginald's Ancient Antiquities Auction House", "Index", "Home", new { area = "" }, new { @class = "navbar-brand special-title" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Create a listing", "Create", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("View current listings", "Listings", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content" id="custom">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Manuel Larios</p>
            <p>This website was created for <a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW9_1819.html">Homework #9</a> in CS460 at <a href="https://www.wou.edu/">Western Oregon University</a>.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("BidScript", required: false)
</body>
</html>